{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Login
{% endblock %}

{% block wrapper%}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.error }}
                            {% render_field field placeholder=field.label class+="form-control"%}
                        </div>
                        {% endfor %}
                        <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}