{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Login
{% endblock %}

{% block wrapper%}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
	   	        </div>
                <div class="panel-body">
		            {% if form.non_field_errors %}
    		        <div class='alert-danger alert'>
                        Invalid <strong>Username</strong> or <strong>Password</strong>.
    		        </div>
		            {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.error }}
                            {% render_field field placeholder=field.label class+="form-control"%}
                        </div>
                        {% endfor %}
                        <a style="width:49%;" class="btn btn-info btn-md" href="https://drive.google.com/file/d/0B2HMY6xnGNUbUm90RWpTS1NQclE/view?usp=sharing" target="_blank"> 
			<i class="fa fa-book" aria-hidden="true"></i> 
			    &nbsp;User Manual
			</a>
			<button style="width:49%; float:right; btn-md" class="btn btn-success " type="submit">
			<i class="fa fa-sign-in" aria-hidden="true"></i>
			    &nbsp;Login
			</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
