{% extends 'base_cp.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Registered Users{% endblock %}

{% block css %}{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"><span id="firstnameText">{{ profile.user.first_name }}</span> <span id="lastnameText">{{ profile.user.last_name }}</span></h1>
	</div>
</div>

{% if messages %}
	{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}


<div class="row">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-user" aria-hidden="true"></i> User Profile
					</div>
					<div class="panel-body">
						<strong>Username:</strong> <span id="usernameText">{{ profile.user.username }}</span>
						<br>
						<strong>Email: </strong> <span id="emailText" >{{ profile.user.email }}</span>
						<br>
						<strong>Address:</strong> <span id="addressText">{{ profile.address }}</span>
						<br>
						<br>
						<strong>Cell Phone Number:</strong> <span id="cellnumberText">{{ profile.cellnumber }}</span>
						<br>
						<strong>Home Phone Number:</strong> <span id="homenumberText">{{ profile.homenumber }}</span>
						<br>
						<br>
						<strong>Date Joined: </strong> {{ profile.user.date_joined }}
						<br>
						<strong>Last Login: </strong> {{ profile.user.last_login }}
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-12 text-right">
								<a class="btn btn-warning" id ="modify-user" href="#modifyUserModal" data-toggle="modal">Modify Profile</a>
						        <a class="btn btn-danger {% if request.user.pk == profile.user.pk %} disabled {% endif %}" id="delete-article" href="#deleteUserModal" data-toggle="modal" {% if request.user.pk == profile.user.pk %} disabled {% endif %}>Delete profile</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-hospital-o" aria-hidden="true"></i> Emergency Contact
					</div>
					<div class="panel-body">
						<strong>Username:</strong> <span id="emergencycontact"> {{ profile.user.username }} </span>
						<br>
						<!-- <br>
						<br> -->
						<strong>Date Joined: </strong> {{ profile.user.date_joined }}
						<br>
						<strong>Last Login: </strong> {{ profile.user.last_login }}
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-12 text-right">
								<a class="btn btn-warning" id ="userModify" href="#">Modify Emergency Account</a>
						        <!-- <a class="btn btn-danger {% if request.user.pk == profile.user.pk %} disabled {% endif %}" id="delete-article" href="#deleteUserModal" data-toggle="modal" >Delete profile</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-history" aria-hidden="true"></i> Last Activity
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="deleteUserModal" role="dialog">
	<div class="modal-dialog">
		  <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Delete User</h4>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<h2>
						Are you sure you want to delete this user?
					</h2>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<form role="form" method="post">
						{% csrf_token %}
						<button class="btn btn-danger" name="deleteUser" value="true" type="submit" >Delete</button>
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade createmodal" id="modifyUserModal" role="dialog">
	<div class="modal-dialog">
		  <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Modify User</h4>
			</div>
			<form data-toggle="validator" role="form" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group has-feedback">
						<label class="control-label">Login Information</label>
						<div class="row">
							<div class="form-group col-sm-12 has-feedback">
								<input type="text" id="username" name="username" class="form-control" placeholder="Username">
							</div>
						</div>
						<div class="form-inline row">
							<div class="form-group col-sm-6 has-feedback">
								<input type="password" data-minlength="8" class="form-control" id="inputPassword" placeholder="Password" name="password1">
								<div class="help-block">Minimum of 8 characters</div>
							</div>
							<div class="form-group col-sm-6 has-feedback">
								<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" name="password2">
							</div>
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label">Basic Information</label>
						<div class="row">
							<div class="form-group col-sm-6 has-feedback">
								<input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name">					
							</div>
							<div class="form-group col-sm-6 has-feedback">					
								<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-12 has-feedback">
								<input type="text" id="address" name="address" class="form-control" placeholder="Address">
							</div>
						</div>	
						<div class="row">					
							<div class="form-group col-sm-4 has-feedback">
								<input type="email" id="email" name="email" class="form-control" placeholder="Email">
							</div>
							<div class="form-group col-sm-4 has-feedback">
								<input type="cellNumber" id="cellnumber" name="cellnumber" class="form-control" placeholder="Cell Number" pattern="[0-9-+ ]+">
							</div>
							<div class="form-group col-sm-4 has-feedback">
								<input type="homeNumber" id="homenumber" name="homenumber" class="form-control" placeholder="Home Number" pattern="[0-9-+ ]+">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="submit" class="btn btn-success" value="true" name="modifyUser">Submit</button>
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/validator.js' %}"></script>

<script type="text/javascript">
	// This will load the value once clicked
$(document).on("click", "#modify-user", function () {
	var username = $("#usernameText").text();
	var firstname = $("#firstnameText").text();
	var lastname = $("#lastnameText").text();
	var address = $("#addressText").text();
	var email = $("#emailText").text();
	var cellnumber = $("#cellnumberText").text();
	var homenumber = $("#homenumberText").text();

	$("#username").val(username);
	$("#firstname").val(firstname);
	$("#lastname").val(lastname);
	$("#address").val(address);
	$("#email").val(email);
	$("#cellnumber").val(cellnumber);
	$("#homenumber").val(homenumber);

	// console.log(username);
});
</script>

<script type="text/javascript">
$(".createmodal").on("hidden.bs.modal", function (event) {
	// $(this).find("input,textarea,select").val('').end();
	$(".form-group").removeClass("has-error");
	$(".form-group").removeClass("has-danger");
	$(".form-group").removeClass("has-success");
	console.log("hello")
})
</script>

<!-- <script>
// https://stackoverflow.com/questions/16144018/how-to-get-the-specific-form-field-value-using-jquery
$(function() {
	$('form').on('submit', function(event) { //use on if jQuery 1.7+
		event.preventDefault();
		// https://stackoverflow.com/questions/38526573/django-make-a-post-request-on-form-submit-without-reloading-the-page-or-renderi
		var form = $(this);
		var string = form.serialize();
		var posting = $.post(form.attr('action'),form.serialize());
		// console.log(string);
		posting.done(function(data) {
            // success actions, maybe change submit button to 'friend added' or whatever
            // console.log("Success")
            window.location.replace("/app/users");
        });
        // if failure:
        posting.fail(function(data) {
            // 4xx or 5xx response, alert user about failure
            console.log("Error")
        });
		return false;
	});
});
</script> -->

<script type="text/javascript">
$(function() {
	$("#side-menu li:nth-child(2) a").addClass("active");
});
</script>
{% endblock %}
