{% extends 'base_cp.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}Schedule Planner{% endblock %}

{% block css %}
	<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Schedule Planner</h1>
	</div>
</div>
 
{% if messages %}
	{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

{% for store, employees in stores.items %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info ">
			<div class="panel-heading">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<a href="#{{ store.pk }}" data-toggle="collapse">
						<span class="panel-title panel-title-with-buttons"> 
						{{ store.name }} - {{ store.location }}
						</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6 text-right">
						<a href="{% url 'DayPlanner:schedule_planner' lastWeek %}" class="btn btn-success">
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
							Last Week
						</a>
						<a href="{% url 'DayPlanner:schedule_planner' %}" class="btn btn-warning">
							Now
						</a>
						<a href="{% url 'DayPlanner:schedule_planner' nextWeek %}" class="btn btn-success">
							Next Week
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body collapse in" id="{{ store.pk }}">
								<!--{% csrf_token %}-->
                <div class="table-responsive">
				    <table class="table table-condensed table-bordered" id="schedule-table">
					<thead>
						<tr>
							<th>
								
							</th>
							{% for day in week %}
							<th>
								<div class="row">
									<div class="col-lg-12">
										{% if day.weekday is 6 %}
											Sunday
										{% elif day.weekday is 0 %}
											Monday
										{% elif day.weekday is 1 %}
											Tuesday
										{% elif day.weekday is 2 %}
											Wednesday
										{% elif day.weekday is 3 %}
											Thursday
										{% elif day.weekday is 4 %}
											Friday
										{% elif day.weekday is 5 %}
											Saturday
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ day }}
										<!-- <a href="" class="btn btn-success fullwidth"> Save</a> -->
									</div>
								</div>
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for employee, week in employees.items %}
						<tr>
							<td class="relative">
								<div class="row">
									<div class="col-lg-12"> 
										{{ employee.profile.user.first_name }} {{ employee.profile.user.last_name }}
                                        <br/>
                                        <br/>
                                        {% if not isBefore %}
                                            <a href="#" class="btn btn-info" data-toggle="popover" data-trigger="focus"  data-placement="bottom" title="As of {{ employee.request.datetime.date }}"
											   data-content="
											   		{% if employee.request.availability %}
											   		<dl>
											   			<dt>
											   				Request:
											   			</dt>
											   			<dd>
											   				{{ employee.request.availability }}
											   			</dd>
											   			<br/>
											   			<dt>
											   				No. Shifts:
											   			</dt>
											   			<dd>
											   				{{ employee.request.shifts }}
											   			</dd>
											   		</dl>
											   		{% else %}
											   			None Given.
											   		{% endif %}"
											   data-footer="boo">Show Availability</a>
									    {% endif %}
                                    </div>
								</div>
							</td>
							{% for schedule in week %}
								{% for date, day in schedule.items %}
								<td>
									<div class="row">
										<div class='col-lg-12'>
										<form  role="form" method="post" class="schedule">
											{% csrf_token %}
											<div class="form-group display-none">
												<input  class="form-group" name="employee-id" value="{{ employee.pk }}" {% if isBefore or isPermitted %} disabled {% endif %}>
											</div>
											<div class="form-group display-none">
												<input  class="form-group" name="schedule-date" value="{{ date.year }}-{{ date.month }}-{{ date.day }}" {% if isBefore %} disabled {% endif %}>
											</div>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" name="from"  {% if isBefore %} disabled {% endif %} placeholder="From:" {% if day %} value="{{ day.startingTime }}" {% endif %}/>
													<span class="input-group-addon">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" name="to" {% if isBefore %} disabled {% endif %} placeholder="To:" {% if day %} value="{{ day.endTime }}"" {% endif %}/>
													<span class="input-group-addon">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</form>
										</div>
									</div>
								</td>
								{% endfor %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
                </div>
			</div>
			<div class="panel-footer">
				<div class="row">   
					<div class="col-lg-12 text-right">
                        <form method="post" role="form">
                            {% csrf_token %}
						    <button class="btn btn-warning" value="{{ store.id }}" name="export_to_pdf">Export as PDF</button>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<script>
	$('[data-toggle="popover"]').on('click', function(e) {e.preventDefault(); return true;});
</script>

<script>
// https://stackoverflow.com/questions/16144018/how-to-get-the-specific-form-field-value-using-jquery
$(function() {
	$(".schedule").focusout(function() {
		// var to=form.find("input[name=to]").val();
		// var from=form.find("input[name=from]").val();
		// https://stackoverflow.com/questions/38526573/django-make-a-post-request-on-form-submit-without-reloading-the-page-or-renderi
		var form = $(this);
		
		var string = form.serialize();
		var posting = $.post(form.attr('action'),form.serialize());
		console.log(string);
		posting.done(function(data) {
			// success actions, maybe change submit button to 'friend added' or whatever
			console.log("Success")
		});
		// if failure:
		posting.fail(function(data) {
			// 4xx or 5xx response, alert user about failure
			console.log("Error")
		});

	})
});
</script>

<script>

</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        container: 'body',
        html:true
    });
});
</script>

<script type="text/javascript">
$(function () {
	$(".input-group.date").datetimepicker({
		format: 'LT'
	});
});
</script>

<script type="text/javascript">
$(function() {
	$("#side-menu li:nth-child(3) a").addClass("active");
});
</script>

{% endblock %}
