{% extends 'base_cp.html' %}

{% block title %}Time Clock{% endblock %}

{% block css %}{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Time Clock</h1>
	</div>
</div>

{% for store, employees in stores.items %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
					<div class="col-xs-6">
						<span class="panel-title panel-title-with-buttons">
                            <a href="#{{ store.pk }}" data-toggle="collapse">
							    {{ store.name.title }} - {{ store.location.title }}
						    </a>
                        </span>
					</div>
					<div class="col-xs-6 text-right">
						<a href="{% url 'DayPlanner:time_clock' lastWeek %}" class="btn btn-success">
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
							Last Week
						</a>
						<a href="{% url 'DayPlanner:time_clock' %}" class="btn btn-warning">
							Now
						</a>
						<a href="{% url 'DayPlanner:time_clock' nextWeek %}" class="btn btn-success">
							Next Week
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
            </div>
            <div class="panel-body collapse in" id="{{ store.pk }}">
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered" id="schedule-table">
					<thead>
						<tr>
							<th>

							</th>
							{% for day in week %}
							<th>
								<div class="row">
									<div class="col-lg-12">
										{% if day.weekday is 6 %}
											Sunday
										{% elif day.weekday is 0 %}
									 		Monday
										{% elif day.weekday is 1 %}
											Tuesday
										{% elif day.weekday is 2 %}
											Wednesday
										{% elif day.weekday is 3 %}
											Thursday
										{% elif day.weekday is 4 %}
											Friday
										{% elif day.weekday is 5 %}
											Saturday
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ day }}
										<!-- <a href="" class="btn btn-success fullwidth"> Save</a> -->
									</div>
								</div>
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
                        {% if employees %}
                        {% for employee, week in employees.items %}
                        <tr>
							<td class="relative {% if request.user.pk == employee.profile.user.pk %} alert-info {% endif %}">
								<div class="row">
									<div class="col-lg-12">
                                        {% if request.user.pk == employee.user.pk %} <strong> {% endif %}
										{{ employee.profile.user.first_name }} {{ employee.profile.user.last_name }}
                                        {% if request.user.pk == employee.user.pk %} </strong> {% endif %}
									</div>
								</div>
								<br>
							</td>
							{% for schedule in week %}
								{% for date, day in schedule.items %}
								<td class="{% if request.user.pk == employee.profile.user.pk %} alert-info {% endif %}">
									<div class="row">
										<div class='col-lg-12'>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" name="from"  disabled placeholder="N/A" {% if day %} value="{{ day.startingTime }}" {% endif %}/>
													<!--<span class="input-group-addon">-->
														<!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
													<!--</span>-->
												</div>
											</div>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" name="to" disabled placeholder="N/A" {% if day %} value="{{ day.endTime }}" {% endif %}/>
													<!--<span class="input-group-addon">-->
														<!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
													<!--</span>-->
												</div>
											</div>
										</div>
									</div>
								</td>
								{% endfor %}
							{% endfor %}
						</tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan=100% class="text-center td-none">
                                <h3>No Employees Registered on this store.</h3>
                            </td>
                        </tr>
                        {% endif %}
					</tbody>
				</table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
	$("#side-menu li:nth-child(4) a").addClass("active");
});
</script>
{% endblock %}
