{% url 'DayPlanner:home' as home %}
{% url 'DayPlanner:registered_users' as registered_users %}
{% url 'DayPlanner:schedule_planner' as schedule_planner %}


<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ home }}">Day Planner</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="/">
                <i class="fa fa-sign-out fa-fw"></i> 
                Logout
            </a>
        </li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ home }}"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                </li>
                <li>
                    <a href="{{ registered_users }}"><i class="fa fa-users fa-fw" ></i> Registered Employees</a>
                </li>
                <li>
                    <a href="{{ schedule_planner }}"><i class="fa fa-calendar-plus-o fa-fw"></i> Schedule Planner</a>
                </li>
                <li>
                    <a href="/app"><i class="fa fa-clock-o fa-fw"></i> Time Clock</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>