{% extends 'base_cp.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}Schedule Planner{% endblock %}

{% block css %}
	<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Schedule Planner</h1>
	</div>
</div>
{% for store, employees in stores.items %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info ">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<a href="#{{ store.pk }}" data-toggle="collapse">
						<span class="panel-title panel-title-with-buttons"> 
						{{ store.name }} - {{ store.address }}
						</span>
						</a>
					</div>
					<div class="col-xs-6 text-right">
						<a href="{% url 'DayPlanner:schedule_planner' lastWeek %}" class="btn btn-success">
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
							Last Week
						</a>
						<a href="{% url 'DayPlanner:schedule_planner' %}" class="btn btn-warning">
							Now
						</a>
						<a href="{% url 'DayPlanner:schedule_planner' nextWeek %}" class="btn btn-success">
							Next Week
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body collapse in" id="{{ store.pk }}">
								{% csrf_token %}
				<table class="table table-condensed table-bordered" id="schedule-table">
					<thead>
						<tr>
							<th>
								
							</th>
							{% for day in week %}
							<th>
								<div class="row">
									<div class="col-lg-12">
										{% if day.weekday is 6 %}
											Sunday
										{% elif day.weekday is 0 %}
											Monday
										{% elif day.weekday is 1 %}
											Tuesday
										{% elif day.weekday is 2 %}
											Wednesday
										{% elif day.weekday is 3 %}
											Thursday
										{% elif day.weekday is 4 %}
											Friday
										{% elif day.weekday is 5 %}
											Saturday
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ day }}
										<!-- <a href="" class="btn btn-success fullwidth"> Save</a> -->
									</div>
								</div>
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for employee, week in employees.items %}
						<tr>
							<td class="relative">
								<div class="row">
									<div class="col-lg-12">	
										{{ employee.user.first_name }} {{ employee.user.last_name }}
									</div>
								</div>
								<br>
							</td>
							{% for schedule in week %}
								{% for date, day in schedule.items %}
								<td>
									<div class="row">
										<div class='col-lg-12'>
										<form  role="form" method="post" id="{{ employee.user.username }}-{{ date.weekday }}">
										{% csrf_token %}
											<div class="form-group display-none">
												<input  class="form-group" id="{{ employee.user.username }}-{{ date.weekday }}-employee-id" value="{{ employee.pk }}" disabled>
											</div>
											<div class="form-group display-none">
												<input  class="form-group" id="{{ employee.user.username }}-{{ date.weekday }}-date" value="{{ date }}" disabled>
											</div>
											<div class="form-group display-none">
												<input  class="form-group" id="{{ employee.user.username }}-{{ date.weekday }}-day-id" value="{{ day.pk }}" disabled>
											</div>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" {% if isBefore %} disabled {% endif %} id="{{ employee.user.username }}-{{ date.weekday }}-from" placeholder="From:" {% if day %} value="{{ day.startingTime }}" {% endif %}/>
													<span class="input-group-addon">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group date">
													<input type="text" class="form-control" {% if isBefore %} disabled {% endif %} id="{{ employee.user.username }}-{{ date.weekday }}-to"  placeholder="To:" {% if day %} value="{{ day.endTime }}"" {% endif %}/>
													<span class="input-group-addon">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<div class="form-group"> 
												<div class="row">
													<div class="col-xs-6">
														<button class="btn btn-warning fullwidth">Clear</button>
													</div>
													<div class="col-xs-6">
														<button type="submit" class="btn btn-success fullwidth">Save</button>							
													</div>
												</div>
											</div>
										</form>
										</div>
									</div>
								</td>
								{% endfor %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<div class="row">	
					<div class="col-lg-12 text-right">
						<a href="/app" class="btn btn-danger">Clear</a>
						<a href="/app" class="btn btn-warning">Export as PDF</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

{% for store, employees in stores.items %}
{% for employee, week in employees.items%}
{% for schedule in week %}
{% for date, day in schedule.items %}
<script>
// Please Refractor This!!!!!!!!!!!!!!!!
// Lazy implementation for protoype
$(function() {
	$('#{{ employee.user.username }}-{{ date.weekday }}').on('submit', function(event) { 
	event.preventDefault();  
		window.location.replace("/app");
	});
});
</script>
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}

<script type="text/javascript">
$(function () {
	$(".input-group.date").datetimepicker({
		format: 'LT'
	});
});
</script>

<script type="text/javascript">
$(document).on("click", ".btn-user-delete", function () {

	$("#confirm-user-delete").attr("href","delete-user/"+ user_id);

});
</script>


{% endblock %}
